<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Kalkulator kosztów pracy</title>
</head>

<body>
    <form method="post" action="kkp.php">
        <label>
            Wartość netto [zł]
            <input name="netValue" type="number"/>
        </label>
        <label>
            Rodzaj umowy
            <select name="contractId">
                <option value="0">Umowa zlecenie</option>
                <option value="1">Umowa o dzieło</option>
                <option value="2">Umowa o pracę</option>
            </select>
        </label>
        <label>
            Czy zapisać wynik?
            <input type="checkbox" name="save"/>
        </label>
        <input type="submit"/>
    </form>
</body>

</html>